{% extends 'base.html.twig' %} {% block title 'Modification du mot de passe | ' ~ parent() %} {% block body %}


<div class="example-wrapper">
    <h1>{{ title }}</h1>
    <hr> -
    <a href="{{ path('account') }}">Retour sur mon compte</a>
    <hr> {% if notification %}
    <div class="alert alert-info">{{ notification }}</div>
    {% endif %} {{ form(form) }}
</div>
<style>
    h1 {
        margin-top: 300px;
    }
</style>
{% endblock %}