{% extends 'base.html.twig' %}

{% block title 'Nos produits | ' ~ parent() %}

{% block carousel %}<header></header>{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-2">
        <h4>Filtrer</h4>
        <section>
            <p class="espace"></p>
        </section>
        {{ form(form) }}
    </div>
    <div class="col-md-9">
        <h1 class="text-center">{{ title }}</h1>
        <div class="text-center">
        <hr id="hr1">
        <small>{{descriptif}}</small><br/>
        <small>{{descriptif2}}</small>
        <hr id="hr2">
        </div>
        <section>
            <p class="espace1 mt-5"></p>
        </section>
        <div class="row">
            {% for product in products %}
            <div class="col-md-4 my-auto">
                {% include 'product/single_product.html.twig' %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<style>
    h1 {
        margin-top: 450px;
        margin-bottom: 100px;
        font-size: 45px;
    }

    small {
        font-size: 15px;
    }

    h4 {
        margin-top: 515px;
    }

    #hr1 {
        width: 750px;
    }

    #hr2 {
        width: 550px;
    }

    hr {
        width: 200px;
    }

    .espace1 {
        height: 10px;
    }

    .col-md-2 {
        margin-top: 42px;
        margin-right: 50px;
    }

    .form-check-label {
        padding-left: 0rem;

    }

    .form-check {
        margin-left: 20px;
    }

    .product-item h5 {
        text-transform: uppercase;
        font-size: 15px;
        margin-bottom: -7px;
    }

    .product-item {
        margin-top: 50px;
    }

    .product-item .product-subtitle {
        font-size: 14px;
        display: block;
        margin-bottom: 1Opx;
    }

    .product-item .product-price {
        font-size: 15px;
        font-weight: bold;
    }
</style>
{% endblock %}